[package]
name = "example"
publish = false
version.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
bevy = "0.14.0"
bevy_blob_loader = { path = ".." }
js-sys = "0.3.66"
wasm-bindgen = "=0.2.92"
wasm-bindgen-futures = "0.4.39"
